@{
    ViewData["Title"] = "Home Page";
}
@model List<SurveyModel>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">@item.Title</div>
                <div class="card-body">
                    <h3>@item.Questions</h3>
                </div>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-primary">İncele</a>

            </div>


        </div>

    }
    
</div>
